$background-Color: #080808;
// $text-Color: #eee;
$text-Color: #f6f6f6;
$svg-Color: #666;
$sidebar-Color: #111;
$mainbody-Color: #080808;
$bodytext-color: #e5e5e5;
$black-light: #222;
$alertitem-Color: #191919;
